<div class="container mt-2">
  <div class="row">
    <div class="col-6">
      <div class="editform_module_main">
        <div class="editform_module_main__title">
          <p>Action Window</p>
        </div>
        <div class="editform_module_main_outline">
          <div class="editform_module_main_outline_innerText">
            <p>Click edit button of any block in the template.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="templateView">
        <div class="templateView_module">
          <div class="templateView_module_main">
            <div class="templateView_module_main_left">
              <div class="_picture" (click)="imageUpload.click();">
                <img src="/assets/icons/upload_icons.svg" />
                <p>Upload Photo</p>
                <div class="_">
                  <input accept="image/*" type="file" #imageUpload />
                </div>
              </div>
              <div class="contact_info_section">

                <div id="IGNORE_THIS_BLOCK_IN_PDF" style="display: block;">
                  <div class="__buttonmain"><button class="EditButton-module--btn--3ATM7">
                      <img src="/assets/icons/edit_icon.svg" />

                    </button></div>
                </div>
                <h3>CONTACT INFO</h3>
                <div class="contactItem">
                  <div class="_icon">
                    <img src="/assets/icons/location_icon.svg" />
                  </div>
                  <span>
                    <p>3205 Eden Drive, Glen Allen</p>
                    <p>Virginia - 23060</p>
                  </span>
                </div>
                <div class="contactItem">
                  <div class="_icon">
                    <img src="/assets/icons/email_icon.svg" />
                  </div>
                  <span>
                    <p>something@yopmail.com</p>
                  </span>
                </div>
                <div class="contactItem">
                  <div class="_icon">
                    <img src="/assets/icons/phone_icon.svg" />
                  </div>
                  <span>
                    <p>3205 Eden Drive, Glen Allen</p>
                    <p>Virginia - 23060</p>
                  </span>
                </div>
                <div class="contactItem">
                  <div class="_icon">
                    <img src="/assets/icons/link_icon.svg" />
                  </div>
                  <span>
                    <p>3205 Eden Drive, Glen Allen</p>
                    <p>Virginia - 23060</p>
                  </span>
                </div>
              </div>
              <div class="skill_summary_section">

                <div id="IGNORE_THIS_BLOCK_IN_PDF" style="display: block;">
                  <div class="__buttonmain"><button class="EditButton-module--btn--3ATM7">
                      <img src="/assets/icons/edit_icon.svg" />

                    </button></div>
                </div>
                <h3>Skills Summary</h3>
                <div class="skillItem">
                  <div class="__skillDots_main">
                   <div class="dotLevel">
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="false"></span>
                   </div>
                  </div>
                  <span>
                    <p>Python</p>
                  </span>
                </div>
                <div class="skillItem">
                  <div class="__skillDots_main">
                   <div class="dotLevel">
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="false"></span>
                   </div>
                  </div>
                  <span>
                    <p>Python</p>
                  </span>
                </div>
                <div class="skillItem">
                  <div class="__skillDots_main">
                   <div class="dotLevel">
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="false"></span>
                   </div>
                  </div>
                  <span>
                    <p>Python</p>
                  </span>
                </div>
                <div class="skillItem">
                  <div class="__skillDots_main">
                   <div class="dotLevel">
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="false"></span>
                   </div>
                  </div>
                  <span>
                    <p>Python</p>
                  </span>
                </div>
                <div class="skillItem">
                  <div class="__skillDots_main">
                   <div class="dotLevel">
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="false"></span>
                   </div>
                  </div>
                  <span>
                    <p>Python</p>
                  </span>
                </div>
                <div class="skillItem">
                  <div class="__skillDots_main">
                   <div class="dotLevel">
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="true"></span>
                    <span class="single_dot" data-active="false"></span>
                   </div>
                  </div>
                  <span>
                    <p>Python</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="templateView_module_main_right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>